h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: none;
  color: #111111;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}
header {
  padding-top: 32px;
}
header,
.hero,
.press {
  padding-left: 32px;
  padding-right: 32px;
}
.press {
  margin-top: 130px;
  margin-bottom: 130px;
}
