h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: none;
  color: #111111;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
h4 {
  color: #555555;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 0;
}
header {
  padding-top: 32px;
}
header,
.hero,
.press,
.showcase-text-part,
.upsell-text-part,
.footer-upsell,
footer {
  padding-left: 32px;
  padding-right: 32px;
}
footer {
  margin-top: 130px;
}
.press {
  margin-top: 70px;
  margin-bottom: 70px;
}
.showcase-cards-part {
  padding-left: 32px;
}
@media screen and (min-width: 1140px) {
  header,
  .hero,
  .press,
  .showcase-text-part {
    padding: 0;
  }
  .upsell-text-part {
    padding-left: 65px;
  }
}
