@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import "reset.css";
body {
  font-family: inter;
}
.gray {
  color: #999999;
}
.colored-text {
  height: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}
.small-text {
  font-size: 14px;
  color: grey;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons {
  display: flex;
  gap: 35px;
}
.nav-btn {
  text-decoration: none;
  font-weight: 400;
}
.nav-btn__pink {
  color: #ff3998;
}
.hamburger-btn {
  border: none;
  padding: 0;
  font-size: 25px;
  background-color: transparent;
  display: none;
}
.hamburger-btn:hover {
  color: #ff3998;
}

.sign-up-btn {
  font-size: 20px;
  padding: 15px 40px;
  border-radius: 30px;
  background-color: transparent;
  border-color: #ff6141;
  font-weight: 500;
}
.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.hero-text-part {
  width: 40%;
  height: auto;
  margin-top: 4em;
}
.hero-text-part__main-text {
  font-weight: 900;
  font-size: 55px;
}
.hero-image-part {
  width: 60%;
}
.hero-image-part__image {
  width: 60%;
  position: fixed;
}

@media screen and (max-width: 430px) {
  body {
    padding: 1em;
  }

  .nav-buttons {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
  .hero {
    display: block;
  }
  .hero-text-part {
    width: 72%;
    position: relative;
  }
  .hero-text-part__main-text {
    margin-top: 1rem;
    font-size: 48px;
  }
  .hero-text-part__small-text {
    width: 69%;
  }
  .hero-image-part {
    position: absolute;
    max-width: 100%;
    top: 5%;
    left: 52%;
    overflow: hidden;
  }
  .hero-image-part__image {
    width: 400px;
    height: 360px;
  }
}
@media screen and (min-width: 430px) {
  body {
    padding: 3.5em;
  }
  .nft-logo {
    width: 198px;
  }
}
